<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>To-do CRUD</title>
        <link rel="stylesheet" href="css/site.css" />
    
        <script type="text/javascript" src="lib/jquery-3.5.1/js/jquery-3.5.1.min.js"></script>
        <link rel="stylesheet" href="lib/dx-22.1.6/css/dx.light.css">
        <script type="text/javascript" src="lib/dx-22.1.6/js/dx.all.js"></script>
        <script src="lib/vue-3.2.47/vue.global.js"></script>
        <script src="lib/jquery.splitter-0.28.5/js/jquery.splitter.js"></script>
        <link rel="stylesheet" href="lib/jquery.splitter-0.28.5/css/jquery.splitter.css"/>
    </head>
    <body>
        <script type="text/javascript">
            const modules = {};
        </script>
        <script type="module">
            import * as site from "./js/site.js";
            modules.site = site;
            // modules.site.setStaticData({
            //     foo: "bar",
            // });
        </script>
    
        <div class="dx-viewport" style="position: absolute; top: 0; left: 0; height: 100%; width: 100%;">
            <div id="vapp" style="margin: 10px;">
                <user-panel v-if="userName != null"></user-panel>
                <login-button v-if="userName == null"></login-button>
                <no-access-panel v-if="userName == null"></no-access-panel>
                <main-panel v-if="userName != null"></main-panel>
            </div>
        </div>
    </body>
</html>
